@use "../variables.scss";

.flex-center {
  display: flex;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 95%;
  width: 60%;
  margin: auto;
}
.mat-error {
  margin-left: 5px;
  font:small;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.mat-form-field {
  width: 50%;
}
.button-category {
  border-radius: 15px;
  border: none;
  color: white;
  background-color: variables.$yonder-pink;
  height: 50px;
  width: 50px; //1
  margin: 6px;
}
.disabled-button {
  background-color: gray;
}
.action-container {
  display: flex;
  justify-content: flex-end;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.segment {
  margin-top: 10px;
}

.background-segment {
  height: 25%;
}
.icon-segment {
  height: 10%;
  margin-bottom: 15px;
}
.icon {
  min-height: 75px;
  min-width: 75px;
  height: 100%;
  width: 10%;
}
.file-input {
  display: none;
}
.centered-segment {
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 62px;
  font-size: large;
}

.bg-img {
  min-height: 150px;
  min-width: 150px;
  height: 100%;
  width: 25%;
}

.img {
  background-size: cover;
}

.button-category:active {
  transform: scale(0.9); //1
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.mat-spinner {
  float: inline-start;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

