<div class="register-card-wrapper">

  <mat-card class="register-card-container">

        <mat-card-header class="register-card-header">
            <mat-card-title class="register-card-title"> Yonderful Time </mat-card-title>
        </mat-card-header>

        <mat-card-content class="register-card-content">
              <form class="register-form">
                
                <div class="register-card-item">
                  <mat-icon class="register-item-icon" aria-hidden="false" aria-label="Person icon">person_outline</mat-icon>

                  <mat-form-field class="register-form-item" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Name" [formControl]="registerNameControl">
                  </mat-form-field>
                </div>
                
                <div class="register-card-item">
                  <mat-icon class="register-item-icon" aria-hidden="false" aria-label="Mail">mail</mat-icon>

                  <mat-form-field class="register-form-item" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="firstname.lastname@tss-yonder.com" [formControl]="registerEmailControl">
                  </mat-form-field>
                </div>

                <div class="register-card-item">
                  <mat-icon class="register-item-icon" aria-hidden="false" aria-label="Mail">key</mat-icon>

                  <mat-form-field class="register-form-item" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" placeholder="Password" [formControl]="registerPasswordControl">
                  </mat-form-field>
                </div>

              </form>
        </mat-card-content>

        <app-button class="register-button" buttonText="Register" [isDisabled]="!isRegisterFormComplete()"></app-button>
  </mat-card>

  <a href="/login">Already have an account?</a>
</div>

