@import '../../variables.scss';

.account-icon{
    font-size: 50px;
}

.mat-card-actions{
    align-self: flex-end;
}

.spacer{
    flex: 1 1 auto;
}

.mat-divider{
    margin-bottom: 30px;
}

.about-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.red{
    color:red;
}
.mat-flat-button{
    background-color:$yonder-blue;
}

.user-detials-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 80%;
}

.user-card {
    min-width: 500px;
    min-height: auto;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mat-card-content{
    padding-top: 40px;
}