<div class="user-detials-wrapper">
    <mat-card class="user-card">
        <mat-card-header>
            <mat-icon mat-card-avatar class="account-icon">account_circle</mat-icon>
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.position}}</mat-card-subtitle>

            <span class="spacer"></span>

            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="toggleIsView()">{{!isView ? "View Details" : "Edit Profile"}}</button>
            </mat-card-actions>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="isView else editModeTemplate">
                <div class="about-view">
                    <div class="label-container">
                        <p>Name</p>
                        <p>E-mail</p>
                        <p>Phone Number</p>
                        <p>Profession</p>
                    </div>

                    <div class="info-container">
                        <p>{{user.name}} </p>
                        <p>{{user.email}} </p>
                        <p [ngClass]="isPhoneNoUnavailable ? 'red' : ''">
                            {{isPhoneNoUnavailable ? "Unavailable" : user.phoneNo}}
                        </p>
                        <p>{{user.position}} </p>
                    </div>
                </div>
            </div>
            
            <ng-template #editModeTemplate>

                <div class="form-container-wrapper">
                    <div class="form-container">
                    <form [formGroup]="form" (submit)="onSubmit()">

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Name
                            </mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error *ngIf="controls['name'].touched && controls['name'].invalid">
                                <span *ngIf="controls['name'].hasError('required')">This field is mandatory.</span>
                                <span *ngIf="controls['name'].hasError('pattern')">This field is invalid.</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Position
                            </mat-label>
                            <input matInput formControlName="position" placeholder="ex: Developer" required>
                            <mat-error *ngIf="controls['position'].touched && controls['position'].invalid">
                                <span *ngIf="controls['position'].hasError('required')">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Phone Number
                            </mat-label>
                            <input matInput formControlName="phoneNo" placeholder="ex: 0712345678">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="controls['phoneNo'].touched && controls['phoneNo'].invalid">
                                <span *ngIf="controls['phoneNo'].hasError('pattern')">Input a valid Phone Number.</span>
                            </mat-error>
                        </mat-form-field>

                        <div class="btn-wrapper">
                            <button mat-flat-button color="primary" type="submit" [disabled]="form.touched && form.invalid">Submit</button>
                            <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        </div>
                    </form>
                    </div>
                </div>

            </ng-template>

        </mat-card-content>



    </mat-card>
</div>