<div class="user-detials-wrapper">
    <mat-card class="user-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>account_circle</mat-icon>
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.position}}</mat-card-subtitle>

            <span class="spacer"></span>

            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="toggleIsView()">{{!isView ? "View Details" : "Edit Profile"}}</button>
            </mat-card-actions>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="isView; then thenTemplateName else elseTemplateName"></div>
            
            <ng-template #thenTemplateName>
                <div class="about-view">
                    <div>
                        <p>
                            Name
                            <span>{{user.name}} </span>
                        </p>
                    </div>
                    <div>
                        <p>
                            Email
                            <span>{{user['email']}}</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            Phone
                            <span [ngClass]="user.phoneNo == null ? 'red' : ''">
                                {{user.phoneNo == null ? "Unavailable" : user.phoneNo}}
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>
                            Profession
                            <span >{{user.position}}</span>
                        </p>
                    </div>
                </div>
            </ng-template>
            
            <ng-template #elseTemplateName>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                            <mat-hint *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">First Name is required</div>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                            <mat-hint *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email is required</div>
                                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="text" formControlName="phoneNo" class="form-control"/>
                        </mat-form-field>
                    <div class="form-group">
                        <button mat-button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                        </button>
                        <button mat-button (click)= "toggleIsView()" class="btn btn-link">Cancel</button>
                    </div>
                </form>



            </ng-template>

        </mat-card-content>



    </mat-card>
</div>