.sidenav-container{
    width: 100%;
    height: 100%;
}

.sidenav{
    padding: 10px;
    background-color:#00589D;   
}

mat-sidenav {
    .mat-drawer-inner-container {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
    }
}

.primary-menu-items, .secondary-menu-items{
    display: flex; 
    flex-direction: column;
}

.title{
    display:none;
}

.item-description{
    .title{
        display:flex;
        color:#ffffff;
        font-weight: 500;
        font-size:17px;
        margin-top: 11.5px;
    }

}

.sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.icon-style{
    color:#E92B8E;
}

.icon-description{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}