@use "../../variables.scss";

.sidenav-container{
    width: 100%;
    height: 100%;
}

.sidenav{
    padding-top: 6.5px;
    padding-bottom: 10px;
    background-color: rgba(33, 33, 33, 0.75);
    border: 0;
}

.primary-menu-items, .secondary-menu-items{
    display: flex; 
    flex-direction: column;
}

.title{
    display: none;
}

.icon-description{
    height: 45px;
}

.item-description{   

    .title{
        display: inline-flex;
        color: rgba(255, 255, 255, 0.906);
        font-weight: 500;
        font-size: 15.5px;
        margin-left: 4px;
    }

    .icon-description{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0;
    }

    .icon-description:hover {
        background-color: variables.$yonder-pink;
        transition: 100ms linear;
    }

    .icon-style {
        color:rgba(255, 255, 255, 0.906);
    }
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.icon-style{
    color:rgba(255, 255, 255, 0.906);
}

.icon-style:hover {
    color: variables.$yonder-pink;
    transition: 100ms linear;
}

.secondary-menu-items {
    color:rgba(255, 255, 255, 0.906);
}
