.events-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.events-list-header {
    display: flex;
    justify-content: right;
}