<h1>Display a list of event:</h1>
<div class="events-list-header">
    <div class="example-button-container">
      <button [routerLink]="" color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>bookmark</mat-icon>
      </button>
    </div>
</div>
<mat-card class="events-list-container" >
  <div *ngFor="let eventDetail of eventList">
    <app-event-details
      [ngClass]="{selected: eventDetail === selectedEvent}" 
      [event]="eventDetail" 
      (click)="onEventClick(eventDetail)"> 
    </app-event-details>
  </div>
</mat-card>
