<div class="card" style="margin: auto">
  <div class="wrapper">
    <div class="cat-Action">
      <button class="button-cat" (click)="onSubmitForm()"><mat-icon>save</mat-icon></button>
    </div>
  
    <div class="segment">
      <div class="centered-segment">
        <mat-form-field appearance="fill">
          <mat-label> Title. </mat-label>
          <input
            matInput
            [(ngModel)]="title"
            [(ngModel)]="categoryCard.title"
            required
          />
        </mat-form-field>
      </div>
    </div>
  
    <div class="segment">
      <div class="centered-segment">
        <app-upload-file
          (onUpload)="onChangeBackground($event)"
        ></app-upload-file>
        <div style="font-size: large;">Background image.</div>
      </div>
    </div>
  
    <div class="segment">
      <img
        [src]="
          backgroundImg ||
          '/assets/chooseImage.png'
        "
        class="bgImg centered-segment"
      />
    </div>
  
    <div class="segment">
      <div class="centered-segment">
        <app-upload-file (onUpload)="onChangeIcon($event)"></app-upload-file>
        <div style="font-size: large;">Category icon.</div>
      </div>
    </div>
    <div class="segment">
      <img
        [src]="
          iconImg ||
          '/assets/chooseImage.png'
        "
        class="icon centered-segment"
      />
    </div>
  </div>
</div>
