<div class="card">
  <div class="loading-indicator" *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </div>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="action-container">
      <button class="button-category" type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div class="segment flex-center">
      <mat-form-field appearance="fill">
        <mat-label> Title. </mat-label>
        <input
          matInput
          formControlName="titleControl"
          placeholder="Choose category name."
        />
        <mat-error
          *ngIf="
            categoryForm.get('titleControl')!.hasError('required') &&
            categoryForm.touched
          "
          >Title length is incorrect.</mat-error
        >
      </mat-form-field>
    </div>

    <div class="segment flex-center">
      <div class="centered-segment flex-center">
        <app-upload-file
          (click)="disableBgError()"
          [form]="categoryForm"
          runMode="base64"
          controlName="backgroundControl"
        ></app-upload-file>
        <div>Background image.</div>
        <mat-error
          *ngIf="
            categoryForm.get('backgroundControl')!.hasError('required') &&
            displayBgError
          "
          >Choose an image.</mat-error
        >
      </div>
    </div>

    <div class="background-segment flex-center">
      <img
        [src]="
          categoryForm.get('backgroundControl')!.value ||
          '/assets/chooseImage.png'
        "
        class="bg-img"
      />
    </div>

    <div class="segment flex-center">
      <div class="centered-segment flex-center">
        <app-upload-file
          [form]="categoryForm"
          (click)="disableIconError()"
          runMode="base64"
          controlName="iconControl"
        ></app-upload-file>
        <div>Category icon.</div>
        <mat-error
          *ngIf="
            categoryForm.get('iconControl')!.hasError('required') &&
            displayIconError
          "
          >Choose an image.</mat-error
        >
      </div>
    </div>
    <div class="icon-segment flex-center">
      <img
        [src]="
          categoryForm.get('iconControl')!.value || '/assets/chooseImage.png'
        "
        class="icon"
      />
    </div>
  </form>
</div>
