<div class="page-wrapper">
    <div class="page-container" *ngIf="areJoinedEvents || areHostedEvents else missingBothEventCategories">
        <div class="joined-events">
            <div class="events-top-row">
                <h2 class="event-title">Your Upcoming Events</h2>
                <button *ngIf="areJoinedEvents" mat-stroked-button class="buttons" (click)="navigateToAllEvents()">
                    <div class="buttons-text">
                        <mat-icon>person_add</mat-icon> 
                        <div class="button-inner-text">Join event</div>
                    </div>
                </button>
            </div>
            <div class="event-cards" *ngIf="dashboardEvents && areJoinedEvents else missingJoinedEvents">
                <div class="event-card" *ngFor="let event of dashboardEvents.joinedEvents">
                    <div *ngIf="event">
                        <app-event-card (click)="navigateToEventView(event.id)" class="card-data" [event]="event"></app-event-card>
                    </div> 
                </div>
            </div>
            <ng-template #missingJoinedEvents class="missing-button-template">
                <button mat-stroked-button class="missing-button" (click)="navigateToAllEvents()">
                    <div class="buttons-text"> 
                        <div>Join event</div>
                    </div>
                </button>
            </ng-template>

        </div>
        <div class="hosted-events">
            <div class="events-top-row">
                <h2 class="event-title">Upcoming Hosted Events</h2>
                <button *ngIf="areHostedEvents" mat-stroked-button class="buttons" (click)="navigateToCreateEvent()">
                    <div class="buttons-text">
                        <mat-icon>add</mat-icon> 
                        <div class="button-inner-text">Create event</div>
                    </div>
                </button>
            </div>
            <div class="event-cards" *ngIf="dashboardEvents && areHostedEvents else missingHostedEvents">
                <div class="event-card" *ngFor="let event of dashboardEvents.hostedEvents">
                    <div *ngIf="event">
                        <app-event-card (click)="navigateToEventView(event.id)" class="card-data" [event]="event"></app-event-card>
                    </div> 
                </div>
            </div>
            <ng-template #missingHostedEvents class="missing-button-template">
                <button mat-stroked-button class="missing-button" (click)="navigateToCreateEvent()">
                    <div class="buttons-text"> 
                        <div>Create an event</div>
                    </div>
                </button>
            </ng-template>
        </div>   
    </div>    
    <ng-template #missingBothEventCategories>
        <div class="message-wrapper">
            <div class="no-events-text">It seems you have no upcoming events...</div>
            <button mat-stroked-button class="both-missing-button" (click)="navigateToAllEvents()">
                <div class="missing-button-inner-text">Join event</div>
            </button>
            <div class="or">or</div>
            <button mat-stroked-button class="both-missing-button" (click)="navigateToCreateEvent()">
                <div class="missing-button-inner-text">Create an event</div>
            </button>
        </div>
    </ng-template>
</div>