@use "../../variables.scss";
@import '../../mixins.scss';

.page-wrapper {
    height: calc(100vh - 50.6667px);
    @include flex-container(auto);
    align-items: center;
}

.page-container {
    width: 85%;
    height: 90%;
    display: flex;
    @include flex-container(column);
}

.joined-events {
    @include flex-container(column, flex-start);
    height: 40vh;
    justify-content: space-between;
    background-color: variables.$yonder-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: auto;
}

.hosted-events {
    margin-top: 5vh;
    height: 40vh;
    @include flex-container(column, flex-start);
    background-color: variables.$yonder-white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: auto;
}

.event-title {
    font-size: 2.5vh;
    font-weight: bold;
}

.events-top-row {
    @include flex-container(row, flex-start);
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons {
    @include flex-container(row, flex-start);
    font-size: 2vh;
    color: variables.$yonder-pink;
    background-color: white;
    justify-content: space-between;
}

.buttons-text {
    margin-top: 10px;
    @include flex-container(row, flex-start);
    justify-content: space-between;
}

.button-inner-text {
    margin-left: 10px;
    margin-top: -3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.event-cards {
    @include flex-container(row);
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
}


.missing-button {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    color: variables.$yonder-pink;
    background-color: white;
    font-size: 3vh;
    padding-bottom: 10px;
}

.message-wrapper {
    align-self: center;
    @include flex-container(column, flex-start);
}

.both-missing-button {
    align-self: center;
    margin-bottom: 40px;
    margin-top: 50px;
    color: variables.$yonder-pink;
    background-color: white;
    font-size: 3vh;
    padding-bottom: 10px;
    width: 300px;
}

.no-events-text {
    align-self: center;
    font-size: 4vh;
}

.or {
    align-self: center;
    font-size: 4vh;
}

.missing-button-inner-text {
    margin-top: 10px;
    align-self: center;
}

.three-events-component {
    width: 100%;
    height: auto;
}
