@import "../../variables.scss";
@import "../../mixins.scss";

.content-container {
	@include flex-container(column, flex-start);
	align-items: center;
}

.category-header {
	padding: 0;
}

.category-form-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 40px;
	width: 60%;
}

.category-title {
	margin-top: 10px;
}

.title-action-container {
	@include flex-container(row, space-between);
}

.title-input-container {
	@include flex-container(column, flex-start);
	width: 100%;
}

.action-container {
	@include flex-container(row, flex-end);
}
.upload-display-container {
	@include flex-container(flex, wrap);
}
.upload-display-item {
	width: 50%;
}
img {
	height: 250px;
	width: 350px;
	max-width: 100%;
	min-height: 150px;
}
.img-placeholder {
	height: 250px;
	width: 350px;
	max-width: 100%;
	width: 100%;
	@include flex-container(center);
	align-items: center;
}

.mat-form-field {
	width: 50%;
}
::ng-deep .file-upload {
	margin-top: 10px;
	margin-bottom: 10px;
}
label {
	margin-left: 5px;
	margin-bottom: 10px;
	color: $yonder-blue;
	font-weight: 500;
}
