<div class="card" style="margin: auto;">
  <div class="container">
    <div style="display: flex; align-items: center;">
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="header-image">
      <h2 style="margin-left:5px;">{{categoryCard.title}}</h2>
    </div>
    
    <div style="display: flex">
      <button class="test" style="margin-right: 3px">
        Delete
      </button>
      <button class="test">
        Edit
      </button>
    </div>
  </div>
  <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatar" style="width: 100%;">
</div>