@import '../../mixins.scss';
@import '../../variables.scss';

.event {
    @include flex-container(column);
    padding: 50px;
    align-items: center;
}

.event-card {
    width: 100em;
    height: 85vh;
}

.top-div {
    @include flex-container(row, auto);
    background-color: #f0f0f0;
}

.event-image {
    height: 350px;
}

.event-image img {
    object-fit: cover;
    padding: 0px;
    min-width: 600px;
    max-height: 350px;
}

.event-information {
    display: flex;
    flex-direction: column;
    min-width: 730px;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}


.admin-buttons {
    
}

.admin-buttons-style {
    
}

.title-date {
    // margin: 40px 0 0;
}

.deadline-participants {
   
}

.event-title {
    font-size: 1.8rem;
}

.start-date {
    
}

.access-time {
}

.join-deadline {
    display: flex;
    gap: 5px;
    color: #0f0f0f;
    justify-content: space-between;
    text-align: center;
}

.start-date, .deadline-date {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.deadline-date, .helper-text p {
    color: #585858;
}

.helper-text {
    display: flex;
    justify-content: flex-end;
}

.helper-text p {
    padding: 0;
    margin: 0;
    margin-right: 7px;
}

.deadline-text {
    
}

.required-participants {
    color: green;
}

.fee-icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 75px 0 0;
}

.event-fee {
    
}

.category-icon {
   width: 50px;
   height: auto;
}

.middle-div {
}

.default-message {
    margin-top: 5px;
}

.participants-data, .participants-card {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}

.participants-card {
    cursor: pointer;
}

.participants-card:hover {
    color: $yonder-pink;
}

.current-participants-number {
   
}

.participants-icon {
    
}


.join-button {
    color: green;
    background-color: #f0f0f0;
}

.join-button {
    background-color: $yonder-blue;
    color: white;
}

.join-button:enabled:hover {
    background-color: $yonder-pink;
    transition: background-color 100ms linear;
}

.bottom-div {
    display: flex;
    height: 53vh;
}

.event-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.event-descripton-text {
    margin-bottom: 20px;
    align-self: flex-start;
}

.tags-list {
    margin-top: auto;
}

.tag {
    
}

.event-details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
    gap: 20px;
    align-self: flex-end;
    min-width: 330px;
    margin-top: 20px;
    padding: 20px;
    margin-right: 220px;
}

.location {
    margin: 0;
}

.location-text {
    margin: 0;
}
.date {
    margin: 0;
}

.host {
    margin: 0;
}

.event-details-text {
    display: flex;
    flex-direction: column;
}

.event-location-details {
    
}

.starting-date {
    
}

.host-details {
    
}

.flex-row {
    
}

.flex-column {
    
}
