@import '../../mixins.scss';
@import '../../variables.scss';

.event {
    @include flex-container(column);
    padding: 50px;
    align-items: center;
}

.event-card {
    width: 100em;
    height: 80vh;
}

.top-div {
    @include flex-container(row, auto);
    background-color: #f0f0f0;
}

.event-image {
    height: 350px;
}

.event-image img {
    object-fit: cover;
    padding: 0px;
    min-width: 600px;
    max-height: 350px;
}

.event-information {
    @include flex-container(column, space-between);
    min-width: 730px;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
}


.admin-buttons {
    @include flex-container(column);
    margin-top: 15px;
    border: 5px;
    justify-content: space-between;
    align-items: flex-end;
    height: 25%;
}

.admin-buttons-style {
    background-color: $yonder-blue;
    color: white;
    justify-items: flex-end;
}

.admin-buttons-style:hover {
    background-color: $yonder-pink;
    transition: background-color 100ms linear;
}

.event-title {
    font-size: 1.8rem;
}

.join-deadline {
    @include flex-container(auto, space-between);
    gap: 5px;
    color: #0f0f0f;
    text-align: center;
}

.start-date, .deadline-date {
    @include flex-container(column);
    padding: 0;
    margin: 0;
}

.deadline-date, .helper-text p {
    color: #585858;
}

.helper-text {
    @include flex-container(auto, flex-end);
}

.helper-text p {
    padding: 0;
    margin: 0;
    margin-right: 7px;
}

.required-participants {
    color: green;
}

.fee-icon-row {
    @include flex-container(auto, space-between);
    align-items: center;
}

.event-fee {
    font-size: 20px;
}

.category-icon {
   width: 50px;
   height: auto;
   margin-right: 6.5px;
}

.default-message {
    margin-top: 5px;
}

.participants-data, .participants-card {
    @include flex-container(row, flex-end);
    align-items: baseline;
    gap: 10px;
}

.participants-card {
    cursor: pointer;
}

.participants-card:hover {
    color: $yonder-pink;
}

.join-button {
    background-color: $yonder-blue;
    color: white;
}

.join-button:enabled:hover {
    background-color: $yonder-pink;
    transition: background-color 100ms linear;
}

.bottom-div {
    display: flex;
    min-height: 47%;
}

.event-description {
    padding: 20px;
    @include flex-container(column);
    word-wrap: break-word;
}

.event-descripton-text {
    margin-bottom: 20px;
    align-self: flex-start;
}

.tags-list {
    margin-top: auto;
}

.event-details {
    @include flex-container(column, auto);
    margin-left: auto;
    align-items: flex-end;
    gap: 20px;
    align-self: flex-end;
    min-width: 330px;
    margin-top: 20px;
    padding: 20px;
    margin-right: 220px;
}

.location {
    margin: 0;
}

.location-text {
    margin: 0;
}
.date {
    margin: 0;
}

.host {
    margin: 0;
}

.event-details-text {
    @include flex-container(column);
}