.bold-element {
    font-weight: 700;
}

#event-card {
    width: 85%;
    margin-left: 45px;
    margin-top: 45px;
    border: solid;
    border-width: 0.1cm;
    border-color: #E5E4E2;
    margin-right: 45px;
}

#top-div {
    width: 100%;
    background-color: #caf0f8;
}

#event-image {
    width: 30%;
}

#event-information {
    margin-top: 10px;
    margin-left: 20px;
}

#event-title {
    font-size: 2vh;
}

#start-date {
    margin-top: 7px;
    font-size: 1.5vh;
}

#join-deadline {
    margin-top: 15px;
}

#ending-date {
    margin-left: 7px;
}

#required-participants {
    color: #52b788;
    font-size: 1.4vh;
}

#bottom-row {
    margin-top: 30px;
}

#event-fee {
    font-size: 1.6vh;
}

#middle-div {
    margin-top: 7px;
}

#default-message {
    width: 70%;
    font-size: 1.1vh;
}

#participants-data {
    
}


