@import '../../variables.scss';
@import '../../mixins.scss';

.event-form-wrapper {
    @include flex-container(column);
    padding: 40px;
}

.event-form-container {
    @include flex-container(column);
    padding: 25px 100px 25px 100px;
}

.event-form-header {
    @include flex-container(row, center);
    color: $yonder-blue;
    margin-bottom: 50px;
}

.event-form-item-wrapper {
    @include flex-container(row, flex-start);
    width: 100%;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
}

.event-form-item-container {
    @include flex-container(column, space-between);
    width: 33%;
    margin-right: 80px;
}

.title-container {
    width: 25%;
}

.time-picker {
    @include flex-container(column, space-between);
    width: auto;
}

.event-form-container .mat-expansion-panel-header-description {
    @include flex-container(row, space-between);
    align-items: center;
}

.description-container {
    width: 100%;
}

mat-icon, mat-datepicker-toggle {
    color: $yonder-pink;
}

mat-icon:hover {
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: $yonder-white;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 15px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 25px;
}
