@import '../../variables.scss';
@import '../../mixins.scss';

.admin-categories-wrapper {
    @include flex-container(column);
    padding: 40px;
}

.admin-categories-container {
    padding: 25px 100px 25px 100px
}

.table-container {
    width: 100%;
}

.table-header-text {
    color: $yonder-blue;
    font-size: larger;
}

.last-text {
    color: $yonder-blue;
    margin-right: 20px;
}

.table-row:hover {
    cursor: pointer;
}


.table-icon {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.table-title-data {
   font-size: larger;
}

.table-row:hover .table-title-data {
    color: $yonder-blue;
}

.mat-column-Actions {
    text-align: right;
    // margin-right: 20px;
    color: $yonder-pink;
}