<div class="content-wrapper" *ngIf="!isLoading">

  <div class="top-row">
    <h1>Administrate categories</h1>
    <div class="action-container">
      <button mat-raised-button class="main-button main-button-action" (click)="navigatetoCategoryNew()">
          <mat-icon class="add-button-icon">add</mat-icon> 
          New
      </button>
    </div>
  </div>

  <ng-container *ngIf="displayedCategories.length; else noDataBlock" >

    <div class="content-container">
      <table mat-table [dataSource]="displayedCategories" class="mat-elevation-z8 table-container">
        
        <!-- ICON COLUMN -->
        <ng-container matColumnDef="Icon" >
          <th mat-header-cell *matHeaderCellDef class="table-header-text"> Icon </th>
          <td mat-cell *matCellDef="let element"> <img class="table-icon" [src]="element.icon ? element.icon : 'assets/img/default.png'" alt=""> </td>
        </ng-container>
        
        <!-- TITLE COLUMN -->
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef class="table-header-text"> Title </th>
          <td class="table-title-data" mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- ACTIONS COLUMN -->
        <ng-container matColumnDef="Actions" class="table-column-last">
          <th mat-header-cell  *matHeaderCellDef class="table-header-text"> Actions </th>
          <td mat-cell *matCellDef="let element" >
            <button mat-button (click)="editCategory(element.id)"><mat-icon>edit</mat-icon></button>
            <span (click)="$event.stopPropagation();" matTooltip="You cannot delete categories that have an associated event." [matTooltipDisabled]="!element.hasEvents">
               <button mat-button [disabled]="element.hasEvents" (click)="deleteCategory(element.id);"><mat-icon>delete</mat-icon></button>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
          class="table-row"
          *matRowDef="let row; columns: displayedColumns;"
          (click)="onCategoryRowClick(row)"
          ></tr>
      </table>

    </div>
  </ng-container>
  
</div>
<ng-template #noDataBlock>Sorry, there is nothing to show</ng-template>
