@import '../../variables.scss';
@import '../../mixins.scss';

.content-wrapper {
    @include flex-container(column, flex-start);
}

.top-row {
    display: flex;
    @include flex-container(row, flex-start);
    justify-content: space-between;
    padding-right: 146px;
}

.add-new-button {
    width: 10%;
    font-size: 2vh;
    color: $yonder-pink;
}

h1{
    padding-left:100px;
}

.add-new-button {
    align-self: flex-end;
}

.mat-column-Actions {
    text-align: end;
    margin-right: 0px;
    color: $yonder-pink;
}

.mat-column-Icon {
    color: $yonder-blue;
    padding-left: 56px;
}

.mat-header-cell:first-of-type {
    padding-left: 30px;
}

.mat-header-cell:last-of-type {
    color: $yonder-blue;
    padding-right: 46px;
}