<div class="filters-and-sort-container">
	<div class="section-container">
		<div class="section-header">
			<mat-icon>search</mat-icon>
			<label>Search</label>
		</div>
		<div class="search-body">
			<mat-form-field appearance="outline" class="filter-select-input">
				<mat-label>Search</mat-label>
				<input matInput [(ngModel)]="filtersDataSelected.searchTitle">
				<mat-icon matSuffix class="my-icon">search</mat-icon>
			</mat-form-field>
		</div>
	</div>
	<div class="section-container">
		<div class="section-header">
			<mat-icon>sort</mat-icon><label>Sort by</label>
		</div>
		<div class="sort-select">
			<mat-form-field appearance="outline" class="sort-select-input">
				<mat-select
					(selectionChange)="emitSortData()"
					[(ngModel)]="sortDataSelected.sortBy">
					<mat-option
						*ngFor="let sortItem of sortMethods"
						[value]="sortItem"
						>{{ sortItem }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div>
				<button
					mat-button
					*ngIf="!sortDataSelected.isAscending"
					(click)="changeIsAscending(); emitSortData()"
					>
					<mat-icon>arrow_upward</mat-icon>
				</button>
				<button
					mat-button
					*ngIf="sortDataSelected.isAscending"
					(click)="changeIsAscending(); emitSortData()"
				>
					<mat-icon>arrow_downward</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="filter-container">
		<div class="filters-header">
			<div class="filters-header-icon">
				<mat-icon>filter_alt</mat-icon>
				<label>Filters</label>
			</div>
			<button
				mat-button
				class="clear-filters-button"
				(click)="clearFields()"
			>
				Clear
			</button>
		</div>
		<div class="date-picker">
			<div class="date-container">
				<label>Start Date</label>
				<mat-form-field class="date-input" appearance="outline">
					<input
						matInput
						placeholder="MM/DD/YYYY"
						[max]="filtersDataSelected.endDate"
						[matDatepicker]="startDatePicker"
						(dateChange)="emitFiltersData()"
						[(ngModel)]="filtersDataSelected.startDate"
						readonly
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="startDatePicker"
					></mat-datepicker-toggle>
					<mat-datepicker #startDatePicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="date-container">
				<label>End Date</label>
					<mat-form-field class="date-input" appearance="outline">
						<input
							matInput
							[matDatepicker]="endDatePicker"
							(dateChange)="emitFiltersData()"
							[(ngModel)]="filtersDataSelected.endDate"
							placeholder="MM/DD/YYYY"
							[min]="filtersDataSelected.startDate"
							readonly
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="endDatePicker"
						></mat-datepicker-toggle>
						<mat-datepicker #endDatePicker></mat-datepicker>
					</mat-form-field>
			</div>
		</div>
		<div class="multiple-select">
			<label> Category </label>
			<mat-form-field appearance="outline" class="filter-select-input">
				<mat-label>Choose categories</mat-label>
				<mat-select
					multiple
					[(value)]="filtersDataSelected.categories"
					(selectionChange)="emitFiltersData()">
					<mat-option
						*ngFor="let category of categoriesPool"
						[value]="category.id">
						{{ category.title }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="check-boxes" *ngIf="showHiddenSection">
			<mat-checkbox
				class="check-box-item"
				(change)="emitFiltersData()"
				[(ngModel)]="filtersDataSelected.hiddenIfStarted"
				>Hide events past join deadline</mat-checkbox
			>
			<mat-checkbox
				class="check-box-item"
				(change)="emitFiltersData()"
				[(ngModel)]="filtersDataSelected.hiddenIfFee"
				>Hide events with a fee</mat-checkbox
			>
		</div>
		<div class="apply-filters-container">
			<button
				mat-button
				class="apply-filters-button"
				(click)="emitClickFilter()"
			>
				Filter
			</button>
		</div>
	</div>
	
</div>
