<div *ngIf="event">
    <mat-card class="event-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <div>
                Name: {{event.name | uppercase}}
                <input id="name" [(ngModel)]="event.name">
            </div>
            <div>
                Description: {{event.description}}
            </div>
            <div>
                Category: {{event.category}}
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="makeUppercase">like</button>
          <button mat-button class="makeUppercase">share</button>
        </mat-card-actions>
    </mat-card>
      
</div>

