a.nav-link
{
    color: white !important;
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    flex:1;
    height: 100%;
    justify-content: center;
}

.example-sidenav {
    padding: 10px;
    background-color:#3f51b5;
    height: 100%;
    display: block;
    align-items: flex-end;
}

.example-icon{
    display: flex;
}