$yonder-pink: #E92B8E;
$yonder-pink-hover: #cf287e;
$yonder-blue: #00589D;
$yonder-light-blue: #cfe7f9;
$link-clear-blue: #1DA1F2;
$yonder-white: white;
$yonder-button-white: rgba(255, 255, 255, 0.906);
$yonder-dark-grey: rgba(33, 33, 33, 0.75);
$yonder-light-blue: #cfe7f9;
$yonder-light-gray: gainsboro;
$join-green: lightgreen;
$leave-red: #ef233c;
$join-disabled: #adb5bd;