@use "../../variables.scss";
@import '../../mixins.scss';

.events-wrapper {
    @include flex-container(row, flex-start);
    align-items: center;
}

.events-content {
    @include flex-container(column);
    padding: 40px;
    height: auto;
    width: 100%;
}

.events-header {
    margin-bottom: 25px;

    h1 {
        margin-bottom: 0px;
    }
}

.events-table {
    @include flex-container(row, flex-start);
    height: calc(100vh - 187.66px);
}


.events-container {
    width: calc(100% - 325px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    border-radius: 5px;
    margin-right: 25px;
}

.data-container {
    margin: 0px;
}

.title {
    font-size: 3vh;
    color: black;
}

.events {
    @include flex-container(row, space-around);
    flex-wrap: wrap;
    width: 100%;
}

.event-card {
    align-self: flex-start;
    margin-top: 10px;
    margin: 20px 10px;
}


@media screen and (min-width: 1707px) {
    .events {
        @include flex-container(row, center);
    }

    .event-card {
        margin-right: 19px;
    }
}

.no-data-block { 
    margin-top: 20px;
    font-size: 2vh;
    font-weight: 700;
    margin-left: 20px;
}

.generic-filter {
    @include flex-container(row);
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
}
