<mat-card class="event-card">
    <img class="event-image" [src]="event.backgroundImage ? event.backgroundImage : ''" alt="">
    <div class="about">
        <div class="first-row">
            <div class="title">{{event.title}}</div>
            <div class="countdown">
                <mat-icon class="icon">hourglass_empty</mat-icon>
                <div class="remaining-days">{{ countdownDays }} Days</div>
            </div>
        </div>
        <div class="second-row">
            <div class="start-date-time">{{ event.startingDate | date:'dd.LL.y - H:mm' }}</div>
            <img  class="category-icon" [src]="categoryIcon ? categoryIcon : ''" alt="">
        </div>
    </div>
</mat-card>




