@use "../../variables.scss";
@import '../../mixins.scss';

.event-card {
    width: 100%;
    height: 100%;
    border: 3px solid variables.$yonder-light-blue;
    box-shadow: 4px 4px 3px #d9d9d9;
    border-radius: 10px;
}

.event-image {
    width: 100%;
}

.about {
    @include flex-container(column, flex-start);
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.first-row {
    width: 100%;
    @include flex-container(row, flex-start);
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.title {
    font-size: 1.6vh;
    font-weight: 700;
}

.countdown {
    @include flex-container(row, flex-start);
}

.remaining-days {
    font-size: 1.5vh;
}

.second-row {
    width: 100%;
    @include flex-container(row, flex-start);
    justify-content: space-between;
    margin-bottom: 7px;
}

.start-date-time {
    font-size: 1.7vh;
    align-self: center;
}

.category-icon {
    width: 23%;
    border-radius: 50%;
}