@use "../../variables.scss";

.toolbar{
    background-color:variables.$yonder-light-blue;
    width:auto;
    height: 38pt;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon-style{
    color:variables.$yonder-pink;
}

.toolbar-text{
    color:variables.$yonder-pink;
}