@use "../../variables.scss";

.toolbar{
    background-color: variables.$yonder-dark-grey;
    width: auto;
    height: 38pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon-style{
    color: variables.$yonder-button-white;
}

.icon-style:hover {
    color: variables.$yonder-pink;
    transition: 100ms linear;
}

.toolbar-text{
    color: variables.$yonder-button-white;
    cursor: default;
    margin: 0;
}

.top-right {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    justify-content: space-around;
}

.username {
    color: variables.$yonder-button-white;
    margin: 0;
    margin-left: auto;
    margin-right: 5px;
    font-size: 15px;
    cursor: default;
}