@use "../../variables.scss";

.toolbar{
    background-color: rgba(33, 33, 33, 0.75);
    width: auto;
    height: 38pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon-style{
    color: rgba(255, 255, 255, 0.906);
}

.icon-style:hover {
    color: variables.$yonder-pink;
    transition: 100ms linear;
}

.toolbar-text{
    color: rgba(255, 255, 255, 0.906);
    cursor: default;
}